.learn-more {
    margin-left: 170px;
}

.about-me {
    line-height: 70px;
    margin-top: 40px;
}

.learn-more,
.about-me {
    font-size: 16px;
}

button {
    border: none;
    padding: 12px 20px;
}

.text-box {
    border-style: none;
    padding: 12px 20px;
}

.text-box:focus {
    outline: none;
}

.btn {
    background-color: #323232;
    color: white;
    font-weight: 700;
    font-size: 20px;
    /* margin-right: 10px; */
    transition: color 0.15s;
}

.btn:hover {
    color: black;
    opacity: 0.7;
}

.btn:active {
    border: none;
    outline: none;
}

.body-header {
    color: black;
    margin-top: 60px;
}

.yes-no-btn {
    margin-left: 180px;
}


#no-btn {
    background-color: white;
    color: #323232;
}

.nav-link {
    color: #323232;
}

.nav {
    background-color: rgba(0, 0, 0, 0.1);
    margin-left: 120px;
    margin-top: 40px;
    padding: 20px 30px 10px 30px;
    width: fit-content;
}

.nav a {
    margin-bottom: 30px;
    padding: 0;
}


@media (min-width: 768px) {
    .learn-more {
        /* font-size: 30px; */
        margin-left: 280px;
    }
    .yes-no-btn {
        margin-left: 290px;
    }
    body {
        font-size: 19px;
    }
    .nav {
        margin-left: 230px;
    }
}

@media (min-width: 1024px) {
    body {
        font-size: 20px;
    }
    .learn-more {
        margin-left: 500px;
    }
    .yes-no-btn {
        margin-left: 510px;
    }
    .nav {
        margin-left: 440px;
    }
}

footer {
    position: fixed;
    bottom: -20px;
    height: 60px;
    width: 100%;

 }

footer p {
    padding: 0px;
    font-size: 12px;
}
