h1 {
    color: black;
    margin-top: 60px;
}

p {
    font-size: 16px;
    margin-top: 40px;
}

h2, h3 {
    margin-top: 40px;
}

.navbar-toggler {
    border: 2px solid black;
}

footer {
    position: fixed;
    bottom: -20px;
    height: 60px;
    width: 100%;
 }

footer p {
    padding: 0px;
    font-size: 12px;
}


